{% extends '::base.html.twig' %}

{% block content_content %}
    <h1>EEducacion creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('educacion') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
