{% block label_asterisk %}
    {% if required %}
        {% if render_required_asterisk %}<span title="Este campo es requerido">*</span>{% endif %}
    {% else %}
        {% if render_optional_text %}<span>{{ "(optional)"|trans({}, translation_domain) }}</span>{% endif %}
    {% endif %}
{% endblock label_asterisk %}
