{% include '@PlanillasEstructura/Turno/form.html.twig' %}

<div class="panel panel-default" data-content="turno">
    <div class="panel-heading">
        <h3 class="panel-title">Listado de Turnos</h3>
    </div>
    <div class="panel-body" id="turno-body">
        {% render path('estructura_turno_list') %}
    </div>
</div>
