{% for puesto in puestos %}
    <option value="{{ puesto.id }}" {{ (loop.index == 1) ? 'selected=""' }}>{{ puesto.nombre }}</option>
{% else %}
    <option value="">No existen puestos</option>
{% endfor %}
