{% extends 'PlanillasEstructuraBundle::layout.html.twig' %}

{% block content_content %}

    <div class="row">
        <div id="event-messages" class="col-sm-12">

        </div>
    </div>

    <ul id="hierarchical-structure" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#empresa">Empresas</a></li>
        <li><a data-toggle="tab" href="#cliente">Clientes</a></li>
        <li><a data-toggle="tab" href="#sucursal">Sucursales</a></li>
        <li><a data-toggle="tab" href="#turno">Turnos</a></li>
        <li><a data-toggle="tab" href="#puesto">Puestos</a></li>
    </ul>
    <div id="hierarchical-content" class="tab-content">
        <div id="empresa" class="tab-pane fade in active">{% render path('estructura_empresa_index') %}</div>
        <div id="cliente" class="tab-pane fade">{% render path('estructura_cliente_index') %}</div>
        <div id="sucursal" class="tab-pane fade">{% render path('estructura_sucursal_index') %}</div>
        <div id="turno" class="tab-pane fade">{% render path('estructura_turno_index') %}</div>
        <div id="puesto" class="tab-pane fade">{% render path('estructura_puesto_index') %}</div>
    </div>
{% endblock content_content %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var alert_error = '<div class="alert alert-danger">__message__<div>';
            var alert_success = '<div class="alert alert-success">__message__<div>';
            var help_block = '<span class="help-block">__message__ <br></span>'
            var progress_bar = '<div class="progress progress-striped active"><div class="progress-bar" style="width: 100%;"></div></div>';
            var $actual_process = "empresa";

            bind_events ();

            $('a.btn.btn-primary.submit-button').on('click', function (e) {
                e.preventDefault();
                var type = $(this).data('content');
                _submit();
            });

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var value = $(e.target).attr('href');
                value = value.substring(1,value.length);
                console.log(value);
                $actual_process = value;
            });

            $('select[id$=_empresa]').on('change', function (e) {
                reloadClienteSelect($(this).val(), findSelectType('cliente'));
            });

            $('select[id$=_cliente]').on('change', function (e) {
                reloadSucursalSelect($(this).val(), findSelectType('sucursal'));
            });

            $('select[id$=_sucursal]').on('change', function (e) {
                reloadTurnoSelect($(this).val(), findSelectType('turno'));
            });

            function reloadClienteSelect (empresa_id, select) {
                if(empresa_id != "") {
                    $.get(Routing.generate('estructura_clientes',{'id':empresa_id}), function (data) {
                        $(select).removeAttr('disabled');
                        $(select).html(data);
                        reloadSucursalSelect($(select).find('option:first').val(), findSelectType('sucursal'));
                    });
                } else {
                    $(select).attr('disabled','disabled');
                    reloadSucursalSelect("", findSelectType('sucursal'));
                }
            }

            function reloadSucursalSelect (cliente_id, select) {
                if(cliente_id != "") {
                    $.get(Routing.generate('estructura_sucursales',{'id':cliente_id}), function (data) {
                        $(select).removeAttr('disabled');
                        $(select).html(data);
                        reloadTurnoSelect($(select).find('option:first').val(), findSelectType('turno'));
                    });
                } else {
                    $(select).attr('disabled','disabled');
                    reloadTurnoSelect("", findSelectType('turno'));
                }
            }

            function reloadTurnoSelect (sucursal_id, select) {
                if(sucursal_id != "") {
                    $.get(Routing.generate('estructura_turnos',{'id':sucursal_id}), function (data) {
                        $(select).removeAttr('disabled');
                        $(select).html(data);
                    });
                } else {
                    $(select).attr('disabled','disabled');
                }
            }

            function findSelectType (type) {
                var _form = $('form#' + $actual_process + '-form');
                var _select = _form.find('select[id$=' + $actual_process + '_' + type + ']');
                return _select;
            }


            function _submit() {
                var data = $('form#' + $actual_process + '-form').serialize();
                $.ajax({
                    'url': Routing.generate('estructura_' + $actual_process + '_create'),
                    'data': data,
                    'type': "POST",
                    'dataType': "HTML"
                })
                .done(function (response) {
                    var message = response;
                    var alert = transform2JQueryObject(message, alert_success);
                    appendAlertMessage(alert);
                    cleanFormErrors('planillas_estructurabundle_' + $actual_process + '_');

                    $.ajax({
                        'url': Routing.generate('estructura_' + $actual_process + '_list'),
                        'type': 'GET'
                    })
                            .done(function (htmltable) {
                                $('div#' + $actual_process + '-body').html(htmltable);
                            });
                })
                .fail(function (error) {
                    var errors = JSON.parse(error.responseText);
                    //var entidad = $actual_process.toUpperCase();
                    //var alert = transform2JQueryObject('Ha ocurrido un error creando ' + entidad + '.',alert_error);
                    //appendAlertMessage(alert);
                    proccessErrors(errors, '#planillas_estructurabundle_' + $actual_process + '_');

                })
                .always();
            }

            function transform2JQueryObject (message,template) {
                var object = template.replace(/__message__/g, message);
                return $(object);
            }

            function proccessErrors (errors, inputId) {
                $.each(errors, function (key, errors) {
                    if (isNaN(key)) {
                        if (key =="error") {
                            $.each(errors, function (k, value) {
                                var alert = alert_error.replace(/__message__/g, value);
                                appendAlertMessage(alert);
                            });
                        } else {
                            var input = $("input" + inputId + key);
                            var select = $("select" + inputId + key);
                            if(input.size()!=0)
                                var element = input;
                            else
                                var element = select;
                            element.parent().parent().addClass('has-error');

                            $.each(errors, function (k, value) {
                                element.parent().append(transform2JQueryObject(value, help_block));
                            });
                        }
                    } else {
                        var alert = alert_error.replace(/__message__/g, value);
                        appendAlertMessage(alert);
                    }
                });
            }

            function appendAlertMessage(alert) {
                alert = $(alert).delay(4000).hide(500);
                $('div#event-messages').append(alert);
            }

            function cleanFormErrors (formname) {
                $('input[id^=' + formname + ']').each(function (key, element) {
                    $(element).parent().parent().removeClass('has-error');
                    $(element).parent().find('span.help-block').remove();
                    $(element).val('');
                });
                $('select[id^=' + formname + ']').each(function (key, element) {
                    $(element).parent().parent().removeClass('has-error');
                    $(element).parent().find('span.help-block').remove();
                });
            }

            function bind_events () {
                $('ul.pagination a').on('click', function (e) {
                    e.preventDefault();
                    load_page($(this));
                });
            }

            function load_page(element) {
                var route = $(element).attr('href');
                var params = route.split("?");
                var page = -1;
                for (var i=0; i < params.length; i++) {
                    if (params[i].indexOf("page") >= 0) {
                        var split = params[i].split("&");
                        for (var j=0; j < split.length; j++) {
                            if (split[j].indexOf("page") == 0) {
                                var page_var = split[j].split("=");
                                page = page_var[1];
                                break;
                            }
                        }
                    }
                }

                var data;
                if(page != -1) {
                    data = {'page':page};
                    $('div#' + $actual_process +'-body').html(progress_bar);
                } else {
                    data = {};
                }

                var element;

                $.ajax({
                    'url': Routing.generate('estructura_' + $actual_process + '_list'),
                    'data' : data,
                    'type': 'GET'
                })
                .done(function (htmltable) {
                    $('div#' + $actual_process +'-body').html(htmltable);
                    bind_events ();
                })
                .always(function () {
                });
            }
        });
    </script>
{% endblock javascripts %}
