{% extends "::base.html.twig" %}

{% block title %}PlanillasCoreBundle:CEmpleadoTramitePortacionArma:edit{% endblock %}

{% block body %}
<h1>Welcome to the CEmpleadoTramitePortacionArma:edit page</h1>
{% endblock %}
