<form id="empresa-form" action="" method="post" {{ form_enctype(form) }} style="padding-top: 8px; padding-bottom: 8px;">
    <div class="row">
        <div class="col-lg-6">{{ form_row(form.nombre) }}</div>
    </div>
    <div><a class="btn btn-primary submit-button" href="#" data-content="empresa"><i class="glyphicon-plus"></i> Adicionar</a></div>
</form>